nav {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 30px;
  width: 100%;
}
.nav-link {
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  flex-grow: 1;
  min-width: 160px;
  height: 40px;
  line-height: 40px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.8);

  &.active {
    color: #222;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: none;
  }

  &.search-container {
    min-width: 55px;
    width: 55px;
    flex-grow: 0;
  }
}
