.weather-container {
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
  color: #fff;
  width:80%;
  min-width: 500px;
  margin-top: 20px;
  min-height:740px;
  overflow: auto;
  margin: 0 auto;
  background-color: rgba(20, 20, 20, 0.86);
  z-index: 2;
}

.temp::after{
  content:"\00b0";
}

.weather-box-container {
  width:60%;
  margin: 0 auto;
}

.module {
  padding: 20px 0px;
}

.page-header {
  margin:0 auto;
  font-size: 30px;
  padding-bottom:10px;
  text-align: center;
}

.location-info {
  padding-bottom: 10px;
}

.cur-weather-image {
  font-size: 22px;
}

.cur-weather-condition {
  font-size: 25px;
}
